@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-login {
  background-color: rgba(234, 234, 234, 0.5);
}

.user {
  position: absolute;
  right: 30rem;
}

body {
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@media  (max-width: 768px) {
  #gambarbljr {
    width: 300px;
    height: 300px;
  }

  #a {
    display: none;
  }

  #card {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #a {
    display: none;
  }

  #card {
    display: flex;
    flex-direction: column;
  }
}