@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-login {
  background-color: rgba(234, 234, 234, 0.5);
}

.user {
  position: absolute;
  right: 30rem;
}

body {
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
}
